.app{
position: relative;
}

.left{
  position: fixed;
  height: 100vh;
  left: 0;
  background-color: black;
  color: white;
  width: 16%;
}

.main{
  position: absolute;
  margin-left: 16%;
  height: 200vh;
  background-color: red;
  width: auto;
}